﻿@model KrowTest.Web.Models.TransactionsViewModel

<section>
    <article>
        <header>
            <h2>Upload your transaction file here</h2>
        </header>

        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div style="display:inline-block">
                <span style="font-size:20px;color:blue;">1.</span><input type="file" name="file" style="display:inline-block"/>
                <span style="font-size:20px;color:blue;">2.</span><input type="submit" name="Submit" id="Submit" value="Upload" style="display:inline-block"/>
            </div>
        }

        @{if (@ViewBag.State == "uploaded")
            {
            <div>Transaction rows uploaded: @ViewBag.Uploaded of @ViewBag.TotalRows</div>

                if (Model != null && Model.valdationErrors.Count() > 0)
                {
                    <div style="padding-top:20px;">Validation Errors</div>
                    <div style="border:1px black solid">
                        @foreach (var err in Model.valdationErrors)
                        {
                            <div>@Html.DisplayFor(e => err.ErrorMessage)</div>
                        }
                    </div>
                }
                else
                {
                    <div>No errors found...</div>
                }
            }

            if (Model != null)
            {
                using (Html.BeginForm("Update", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div style="padding-top:20px;">Data that was uploaded to the database with NO validation errors</div>
                    <div style="border:1px black solid">
                        <table>
                            <tr>
                                <th> @Html.LabelFor(m => Model.UploadedData[0].Account)</th>
                                <th> @Html.LabelFor(m => Model.UploadedData[0].Description)</th>
                                <th> @Html.LabelFor(m => Model.UploadedData[0].CurrencyCode)</th>
                                <th> @Html.LabelFor(m => Model.UploadedData[0].Ammount)</th>
                            </tr>

                            @for (int i = 0; i < Model.UploadedData.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(m => Model.UploadedData[i].TransactionId)
                                @Html.EditorFor(m => Model.UploadedData[i].Account)
                            </td>
                            <td>@Html.EditorFor(m => Model.UploadedData[i].Description)</td>
                            <td>@Html.EditorFor(m => Model.UploadedData[i].CurrencyCode)</td>
                            <td>@Html.EditorFor(m => Model.UploadedData[i].Ammount)</td>
                        </tr>
                    }

                        </table>
                        <input type="submit" value="Update" />
                    </div>
                }
            }
        }

    </article>
</section>